.frames-wrapper {
  margin: 20px;
  width: 130px;
}

.button {
  &_add {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 130px;
    height: 32px;
    line-height: 1rem;
    padding: 0 10px;
  }
}

.canvas {
  &_frame {
    height: 128px;
    width: 128px;
    border: 2px solid black;
  }
}

.current-frame {
  border: 2px solid orange;
}

.copy {
  cursor: pointer;
}

.remove {
  cursor: pointer;
}
