.frames-wrapper {
  margin-top: 30px;
  width: 130px;
}

.button {
  &_add {
    width: 130px;
    height: 32px;
    text-align: center;
  }
}

.canvas {
  &_frame {
    height: 128px;
    width: 128px;
    border: 2px solid black;
  }
}

.current-frame {
  border: 2px solid orange;
}

.copy {
  cursor: pointer;
}

.remove {
  cursor: pointer;
}
