.frames-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.frames-wrapper {
  margin: 20px;
  width: 130px;
  cursor: move;
  cursor: -webkit-grabbing;
}

.button {
  &_add {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 132px;
    height: 32px;
    line-height: 1rem;
    padding: 0 10px;
  }
}

.canvas {
  &_frame {
    height: 128px;
    width: 128px;
    border: 2px solid black;
    cursor: pointer;
  }
}

.canvasWrapper {
  width: 132px;
}

.current-frame {
  border: 2px solid orange;
}

.copy {
  cursor: pointer;
}

.remove {
  cursor: pointer;
}
